name: 'terraform-azure-deployment'

on:
  push:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Environment to deploy to'
        required: true
        default: 'dev'
        type: choice
        options:
          - dev
          - qa
          - prod

run-name: "${{ github.ref_name }}.${{ github.sha }}.${{ github.workflow }}."

env:
  TF_VERSION: '1.7.4'
  SUB_ID: ${{ secrets.AZURE_${{ inputs.environment }}_SUBSCRIPTION_ID }}
  ARM_CLIENT_ID: ${{ secrets.AZURE_${{ inputs.environment }}_CLIENT_ID }}
  ARM_CLIENT_SECRET: ${{ secrets.AZURE_${{ inputs.environment }}_CLIENT_SECRET }}
  ARM_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
  ARM_USE_CLI: false
  TF_FOLDER: 'infra'
  TF_LOG: info

jobs:
  terraform:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: 'Setup Terraform'
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: ${{ env.TF_VERSION }}

      - name: Azure Login
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Terraform Init
        id: init
        run: |
          cd ${{ env.TF_FOLDER }}
          terraform init

      - name: Terraform Plan
        id: plan
        run: |
          cd ${{ env.TF_FOLDER }}
          terraform plan -var-file=../${{ inputs.environment }}/terraform.tfvars -out=tfplan
        continue-on-error: false

      # - name: Terraform Apply
      #   id: apply
      #   run: |
      #     cd ${{ env.TF_FOLDER }}
      #     terraform apply -auto-approve tfplan